html, body {
  background-color: #edeae5;
  font-family: "Arial";
  margin: 0;
  padding: 0;
}

h1, h3, .project-panel__headline {
  font-family: 'Rock Salt', sans-serif;
}

#main {
  display: flex;
}

.name {
  letter-spacing: 7px;
  margin: 30px 0;
}

.side-panel {
  background-color: #026670;
  color: white;
  min-height: 100vh;
  padding: 10px;
  margin: 0;
  text-align: center;
  width: 30%;
}

.side-panel__headshot {
  box-shadow: 5px 5px 15px black;
  margin-bottom: 40px;
  width: 70%;
}

.side-panel__about-me {
  font-size: 18px;
  line-height: 1.5;
  margin: 0 auto 40px;
  width: 90%;
}

.side-panel__links-container {
  display: flex;
  flex-wrap: wrap;
}

.side-panel__link {
  border: 2px solid #fce181;
  box-shadow: 3px 3px 5px black;
  color: #9fedd7;
  letter-spacing: 1px;
  margin: 5px;
  padding: 7px;
  text-decoration: none;
}

.project-panel {
  width: 70%;
}

.project-panel__headline {
  background-color: #026670;
  box-shadow: 3px 3px 5px black;
  color: white;
  letter-spacing: 3px;
  margin: 20px auto;
  padding: 5px;
  text-align: center;
  width: 35%;
}

.project-panel__card-container {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  padding: 10px;
}

.project-panel__card {
  margin: 10px;
  text-align: center;
  width: 45%;
}

.card__tech {
  font-size: 12px;
  font-weight: bold;
}

.card__github-link img {
  width: 6%;
}

.card__youtube-link img {
  width: 7%;
}

@media only screen and (max-width: 1125px) {
  #main {
    flex-direction: column;
  }

  .side-panel, 
  .project-panel {
    width: 100%;
  }

  .side-panel__about-container {
    display: flex;
    width: 60%;
    margin: 0 auto;
  }

  .side-panel__headshot,
  .side-panel__about-me {
    width: 50%;
    margin: 20px;
  }

  .side-panel__links-container {
    flex-direction: column;
  }

  .side-panel__link {
    margin: 5px auto;
    width: 60%;
  }
}
